/* popk */
.bodyPopk {
  height: 1850px;
  width: 100%;
  position: relative;
}

.backgroundPopk {
  height: 400px;
  width: 100%;
  position: relative;
  top: 66px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.imgPopk1 {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: fixed;
  z-index: -1;
}

.titlePopk {
  margin: auto;
  color: white;
  font-size: 2.4rem;
  text-shadow: 1px 4px 4px rgba(255, 127, 218, 0.4);
}

.elementsPopk {
  height: 850px;
  text-align: center;
}

.presentation {
  margin: auto;
  height: 16rem;
  width: 80%;
  background: #050052;
  background: -webkit-gradient(linear, left top, right top, from(#050052), color-stop(21%, #090979), to(#00d4ff));
  background: linear-gradient(90deg, #050052 0%, #090979 21%, #00d4ff 100%);
  z-index: 5;
  position: relative;
  top: -5px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.h2Popk {
  font-size: 1.6rem;
  width: 100%;
  margin-top: 15px;
}

.pPopk1 {
  width: 80%;
  margin: auto;
  font-family: 'Roboto', sans-serif;
}

.cut {
  width: 100%;
  height: 10px;
  background-color: #ff7fda;
  margin-top: 50px;
}

.infos {
  height: 450px;
  width: 80%;
  margin: auto;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

.infos div {
  height: 20rem;
  width: 30%;
  background: #050052;
  background: -webkit-gradient(linear, left top, right top, from(#050052), color-stop(21%, #090979), to(#00d4ff));
  background: linear-gradient(90deg, #050052 0%, #090979 21%, #00d4ff 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.infos div:hover {
  -webkit-box-shadow: 4px 4px 4px rgba(255, 255, 255, 0.4);
          box-shadow: 4px 4px 4px rgba(255, 255, 255, 0.4);
}

.h3Popk {
  margin-top: 15px;
}

.infos1 .iPopk {
  font-size: 3rem;
  margin-top: 45px;
}

address {
  margin: auto;
}

.hours .iPopk {
  font-size: 1.2rem;
  padding-right: 1rem;
}

iframe {
  width: 100%;
  height: 100%;
}

.formulary {
  width: 80%;
  height: 625px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.titleForm {
  position: relative;
  top: 55px;
  color: white;
}

.form-example {
  background-color: #ff7fda;
  height: auto;
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px;
  border-radius: 0.8rem;
}

label {
  padding: 10px;
  text-align: left;
  font-family: 'Roboto', sans-serif;
}

input {
  font-family: 'Roboto', sans-serif;
  padding: 10px;
}

textarea {
  font-family: 'Roboto', sans-serif;
  padding: 5px;
}

.send {
  width: 25%;
  height: 20%;
  margin-top: 15px;
  padding: 0;
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

.send:hover {
  cursor: pointer;
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.6);
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.6);
}

@media only screen and (max-width: 767px) {
  .bodyPopk {
    height: 2100px;
  }
  .backgroundPopk {
    height: 300px;
  }
  .titlePopk {
    position: relative;
    bottom: 55px;
  }
  .presentation {
    height: 25rem;
    top: -75px;
  }
  .cut {
    margin-top: 15px;
  }
  .infos {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 15px;
    height: 800px;
  }
  .infos div {
    height: 30%;
    width: 80%;
  }
  .h3Popk {
    margin-top: 5px;
  }
  .formulary {
    height: 600px;
  }
}
/*# sourceMappingURL=popk.css.map */