@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Sansita+Swashed&display=swap");
h1, h3 {
  font-family: "SansitaSwashed-Regular", cursive;
}

h2 {
  text-align: center;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  text-align: center;
  padding: 5px;
}

h3 {
  text-align: center;
  font-size: 2.3rem;
}

/* body */
body {
  margin: 0;
  background-color: #0e0d0d;
}

img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  width: 70%;
}

#landing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ff7fda;
}

#landing img {
  width: 50%;
}

#landing :nth-child(2) {
  width: 30%;
}

#hero-bar {
  width: 100%;
  height: 201px;
  text-align: center;
  color: black;
  font-size: 2rem;
  -webkit-clip-path: polygon(100% 0, 100% 76%, 0 100%, 0 0);
          clip-path: polygon(100% 0, 100% 76%, 0 100%, 0 0);
  background: -webkit-gradient(linear, left top, right top, from(#050052), color-stop(21%, #090979), to(#00d4ff));
  background: linear-gradient(90deg, #050052 0%, #090979 21%, #00d4ff 100%);
}

a {
  text-decoration: none;
}

a:visited {
  color: #090979;
}

#intro-cocktail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 250px;
  width: 100%;
  -webkit-clip-path: polygon(0 6%, 100% 0%, 100% 100%, 0 94%);
          clip-path: polygon(0 6%, 100% 0%, 100% 100%, 0 94%);
  background: -webkit-gradient(linear, left top, right top, from(#050052), color-stop(21%, #090979), to(#00d4ff));
  background: linear-gradient(90deg, #050052 0%, #090979 21%, #00d4ff 100%);
}

.card-right, .card-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card-right {
  -webkit-clip-path: polygon(0 6%, 100% 0%, 100% 100%, 0 94%);
          clip-path: polygon(0 6%, 100% 0%, 100% 100%, 0 94%);
  background: -webkit-gradient(linear, left top, right top, from(#050052), color-stop(21%, #090979), to(#00d4ff));
  background: linear-gradient(90deg, #050052 0%, #090979 21%, #00d4ff 100%);
}

.card-left {
  -webkit-clip-path: polygon(0 0, 100% 6%, 100% 94%, 0 100%);
          clip-path: polygon(0 0, 100% 6%, 100% 94%, 0 100%);
  background: -webkit-gradient(linear, left top, right top, from(#050052), color-stop(21%, #090979), to(#00d4ff));
  background: linear-gradient(90deg, #050052 0%, #090979 21%, #00d4ff 100%);
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  width: 90%;
}

ul li {
  color: #ff7fda;
  font-weight: 700;
  font-size: 1.1rem;
  margin-right: 30px;
  list-style-type: circle;
  text-transform: uppercase;
}

.first-blood {
  width: 60%;
  text-align: center;
  -webkit-transform: rotate(-4deg) skew(-5deg, 0);
          transform: rotate(-4deg) skew(-5deg, 0);
  background-color: rgba(165, 6, 6, 0.808);
  color: #ffe600;
}

.nunu {
  width: 40%;
  text-align: center;
  -webkit-transform: rotate(-4deg) skew(-5deg, 0);
          transform: rotate(-4deg) skew(-5deg, 0);
  background-color: #5cd7e4;
  color: #f7f7f7;
}

.smite {
  width: 40%;
  text-align: center;
  background-color: #ff5d00;
  color: navajowhite;
  -webkit-transform: rotate(-4deg) skew(-5deg, 0);
          transform: rotate(-4deg) skew(-5deg, 0);
}

.garrosh {
  width: 40%;
  text-align: center;
  background-color: #0e0d0d;
  color: #e91414;
  text-align: center;
  -webkit-transform: rotate(-4deg) skew(-5deg, 0);
          transform: rotate(-4deg) skew(-5deg, 0);
}

.lili {
  background-color: black;
  color: #e62059;
  width: 40%;
  text-align: center;
  -webkit-transform: rotate(-4deg) skew(-5deg, 0);
          transform: rotate(-4deg) skew(-5deg, 0);
}

.prodigy {
  background-color: black;
  color: #ff5d00;
  width: 65%;
  text-align: center;
  -webkit-transform: rotate(-4deg) skew(-5deg, 0);
          transform: rotate(-4deg) skew(-5deg, 0);
}

@media only screen and (min-width: 767px) {
  #intro-cocktail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  img {
    width: 35%;
  }
  .card-left {
    margin-left: 50px;
    width: 70%;
    -webkit-clip-path: none;
            clip-path: none;
    -webkit-box-shadow: 18px -16px #050052;
            box-shadow: 18px -16px #050052;
  }
  .left-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 40px 0px;
    width: 100%;
  }
  .card-right {
    margin-right: 50px;
    width: 70%;
    -webkit-clip-path: none;
            clip-path: none;
    -webkit-box-shadow: -16px 18px #050052;
            box-shadow: -16px 18px #050052;
  }
  .right-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 40px 0px;
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */