@import url("style-font.css");
@import url("style.css");

/*
    template
*/

aside{
    margin:5px 20px;
    padding: 10px;
    background-color: rgba(107, 134, 207,0.5);
    border-radius: 5px;
}

/*
    fichier style.css
*/


h1{
    font-family: SansitaSwashed-Regular;
    font-size: 48px;
}

section{
    font-family: Roboto;
}


p{
    font-size: 12px;
}



