@font-face {
    font-family: "Roboto";
    src: url("font/Roboto/Roboto-Regular.ttf");
   }

   @font-face {
    font-family: "SansitaSwashed-Regular";
    src: url("font/Sansita_Swashed/SansitaSwashed-Regular.ttf");
   } 
